@media (max-width: 375px) {
    body {
        font-size: 12px;
    }

    .cartao {
        flex-direction: column;
        padding: 30px 0;
    }

    .qrcode {
        max-width: 300px;

    }

}